/folder/
66exercise5.py
67.py
68.py
85bonus.py
a.txt
addshowexiifor.py
addshowexiifor_maintainance.py
addshowexit-todo.py
angle
archive.zip
avgfromfile.py
checkingPassword.py
csvProgram.py
doc.txt
excercise-password.py
exercise.py
feetandinches.py
feetichconvertfile.py
feetichdecouplingfile.py
feetichseparatefile.py
feetinchwithdecouple.py
file.txt
filemergecontent.py
folder
function.py
funlistaverage-coding-excercise3.py
globProgram.py
listcomprehension.py
mindtree.csv
passwordcheck.py
passwordcheckwithdict.py
presentation.txt
shree.txt
shuitlprogram.py
Todo-1st.py
trycatch.py
webbrowser.py
__pycache__

